In [2]:
import pandas as pd 
df = pd.read_csv("Downloads/WalmartSalesData.csv.csv")
df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
#Read Headers of dataframe
print(df.columns)

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [26]:
df.describe().head(8)

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [5]:
#print certain columns of each dataframe
print(df[['Invoice ID', 'Customer type','Product line']].head(5))

    Invoice ID Customer type            Product line
0  750-67-8428        Member       Health and beauty
1  226-31-3081        Normal  Electronic accessories
2  631-41-3108        Normal      Home and lifestyle
3  123-19-1176        Member       Health and beauty
4  373-73-7910        Normal       Sports and travel

In [6]:
#read the 1st -5th row of the dataframe 
print(df.iloc[1:6])

    Invoice ID Branch       City Customer type  Gender  \
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male
5  699-14-3026      C  Naypyitaw        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total  \
1  Electronic accessories       15.28         5   3.8200   80.2200
2      Home and lifestyle       46.33         7  16.2155  340.5255
3       Health and beauty       58.22         8  23.2880  489.0480
4       Sports and travel       86.31         7  30.2085  634.3785
5  Electronic accessories       85.39         7  29.8865  627.6165

         Date      Time      Payment    cogs  gross margin percentage  \
1  2019-03-08  10:29:00         Cash   76.40                 4.761905
2  2019-03-03  13:23:00  Credit card  324.31                 4.761905
3  2019-01-27  20:33:00      Ewallet  465.76                 4.761905
4  2019-02-08  10:37:00      Ewallet  604.17                 4.761905
5  2019-03-25  18:30:00      Ewallet  597.73                 4.761905

   gross income  Rating
1        3.8200     9.6
2       16.2155     7.4
3       23.2880     8.4
4       30.2085     5.3
5       29.8865     4.1

In [7]:
#print a certain location 
print(df.iloc[7,4])

Female

Drop the total column from the copy of the original dataframe

# Find any invoice ID that starts with the 730

In [8]:

df.loc[df["Invoice ID"].str.contains("730")]

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
85,730-50-9884,C,Naypyitaw,Normal,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
328,730-61-8757,B,Mandalay,Member,Male,Health and beauty,51.13,4,10.2260,214.7460,2019-01-25,10:11:00,Credit card,204.52,4.761905,10.2260,4.0
372,730-70-9830,C,Naypyitaw,Normal,Female,Home and lifestyle,70.11,6,21.0330,441.6930,2019-03-14,17:54:00,Ewallet,420.66,4.761905,21.0330,5.2
385,525-88-7307,B,Mandalay,Member,Male,Sports and travel,75.82,1,3.7910,79.6110,2019-01-31,13:19:00,Cash,75.82,4.761905,3.7910,5.8
601,881-41-7302,C,Naypyitaw,Normal,Female,Fashion accessories,64.99,1,3.2495,68.2395,2019-01-26,10:06:00,Credit card,64.99,4.761905,3.2495,4.5
837,670-71-7306,B,Mandalay,Normal,Male,Sports and travel,44.63,6,13.3890,281.1690,2019-01-02,20:08:00,Credit card,267.78,4.761905,13.3890,5.1

### Doing conditional changes , if person wasted more than 600 dollars . change the customer type to Elite

In [9]:
#df2= df.loc[(df["Gender"]=="Female") & (df['Customer type']=="Normal") & (df["Product line"]=="Sports and travel")].copy
#print(df2)

In [10]:


# Assuming df is your original DataFrame
df2 = df.loc[(df["Gender"] == "Female") & (df['Customer type'] == "Normal") & (df["Product line"] == "Sports and travel")].copy()
df2

# Convert "Total" column to numeric type
#df2.loc[:, "Total"] = pd.to_numeric(df2["Total"], errors="coerce")

# Update "Customer type" for rows where "Total" > 600
#df2.loc[df2["Total"] > 600, "Customer type"] = "Elite"

# Print the resulting DataFrame
#print(df2)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
85,730-50-9884,C,Naypyitaw,Normal,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
91,225-32-0908,C,Naypyitaw,Normal,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
126,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
129,549-84-7482,B,Mandalay,Normal,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
132,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4
154,400-89-4171,C,Naypyitaw,Normal,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
184,586-25-0848,A,Yangon,Normal,Female,Sports and travel,12.34,7,4.3190,90.6990,2019-03-04,11:19:00,Credit card,86.38,4.761905,4.3190,6.7
216,560-30-5617,B,Mandalay,Normal,Female,Sports and travel,24.77,5,6.1925,130.0425,2019-03-24,18:27:00,Cash,123.85,4.761905,6.1925,8.5
235,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.3140,195.5940,2019-01-20,18:09:00,Ewallet,186.28,4.761905,9.3140,4.1
252,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,2019-03-02,19:44:00,Credit card,28.78,4.761905,1.4390,7.2
270,783-09-1637,B,Mandalay,Normal,Female,Sports and travel,67.43,5,16.8575,354.0075,2019-03-06,18:13:00,Ewallet,337.15,4.761905,16.8575,6.3
282,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,2019-01-06,11:09:00,Cash,15.34,4.761905,0.7670,6.5
287,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
306,286-01-5402,A,Yangon,Normal,Female,Sports and travel,40.23,7,14.0805,295.6905,2019-03-30,13:22:00,Cash,281.61,4.761905,14.0805,9.6
337,692-27-8933,B,Mandalay,Normal,Female,Sports and travel,57.95,6,17.3850,365.0850,2019-02-24,13:02:00,Cash,347.70,4.761905,17.3850,5.2
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
368,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
444,301-11-9629,A,Yangon,Normal,Female,Sports and travel,19.10,7,6.6850,140.3850,2019-01-15,10:43:00,Cash,133.70,4.761905,6.6850,9.7
462,326-71-2155,C,Naypyitaw,Normal,Female,Sports and travel,73.95,4,14.7900,310.5900,2019-02-03,10:02:00,Cash,295.80,4.761905,14.7900,6.1
476,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,2019-03-18,16:10:00,Credit card,166.30,4.761905,8.3150,4.2
503,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,2019-03-25,17:53:00,Cash,186.62,4.761905,9.3310,6.3
548,539-21-7227,B,Mandalay,Normal,Female,Sports and travel,51.54,5,12.8850,270.5850,2019-01-26,17:45:00,Cash,257.70,4.761905,12.8850,4.2
566,718-57-9773,C,Naypyitaw,Normal,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
569,408-26-9866,C,Naypyitaw,Normal,Female,Sports and travel,73.98,7,25.8930,543.7530,2019-03-02,16:42:00,Ewallet,517.86,4.761905,25.8930,4.1
587,695-28-6250,A,Yangon,Normal,Female,Sports and travel,43.06,5,10.7650,226.0650,2019-02-04,16:38:00,Ewallet,215.30,4.761905,10.7650,7.7
597,123-35-4896,C,Naypyitaw,Normal,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
603,642-30-6693,B,Mandalay,Normal,Female,Sports and travel,54.51,6,16.3530,343.4130,2019-03-17,13:54:00,Ewallet,327.06,4.761905,16.3530,7.8
660,322-02-2271,B,Mandalay,Normal,Female,Sports and travel,42.97,3,6.4455,135.3555,2019-02-03,11:46:00,Cash,128.91,4.761905,6.4455,9.3
664,714-02-3114,C,Naypyitaw,Normal,Female,Sports and travel,98.80,2,9.8800,207.4800,2019-02-21,11:39:00,Cash,197.60,4.761905,9.8800,7.7
669,679-22-6530,B,Mandalay,Normal,Female,Sports and travel,40.62,2,4.0620,85.3020,2019-01-17,10:01:00,Credit card,81.24,4.761905,4.0620,4.1
681,320-85-2052,B,Mandalay,Normal,Female,Sports and travel,34.81,1,1.7405,36.5505,2019-01-14,10:11:00,Credit card,34.81,4.761905,1.7405,7.0
781,534-53-3526,A,Yangon,Normal,Female,Sports and travel,94.76,4,18.9520,397.9920,2019-02-11,16:06:00,Ewallet,379.04,4.761905,18.9520,7.8
806,618-34-8551,A,Yangon,Normal,Female,Sports and travel,93.18,2,9.3180,195.6780,2019-01-16,18:41:00,Credit card,186.36,4.761905,9.3180,8.5
847,862-29-5914,C,Naypyitaw,Normal,Female,Sports and travel,22.38,1,1.1190,23.4990,2019-01-30,17:08:00,Credit card,22.38,4.761905,1.1190,8.6
923,887-42-0517,C,Naypyitaw,Normal,Female,Sports and travel,83.14,7,29.0990,611.0790,2019-01-10,10:31:00,Credit card,581.98,4.761905,29.0990,6.6
937,361-85-2571,A,Yangon,Normal,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

In [11]:
df2.loc[:, "Total"] = pd.to_numeric(df2["Total"], errors="coerce")
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
85,730-50-9884,C,Naypyitaw,Normal,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
91,225-32-0908,C,Naypyitaw,Normal,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
126,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
129,549-84-7482,B,Mandalay,Normal,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
132,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4
154,400-89-4171,C,Naypyitaw,Normal,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
184,586-25-0848,A,Yangon,Normal,Female,Sports and travel,12.34,7,4.3190,90.6990,2019-03-04,11:19:00,Credit card,86.38,4.761905,4.3190,6.7
216,560-30-5617,B,Mandalay,Normal,Female,Sports and travel,24.77,5,6.1925,130.0425,2019-03-24,18:27:00,Cash,123.85,4.761905,6.1925,8.5
235,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.3140,195.5940,2019-01-20,18:09:00,Ewallet,186.28,4.761905,9.3140,4.1
252,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,2019-03-02,19:44:00,Credit card,28.78,4.761905,1.4390,7.2
270,783-09-1637,B,Mandalay,Normal,Female,Sports and travel,67.43,5,16.8575,354.0075,2019-03-06,18:13:00,Ewallet,337.15,4.761905,16.8575,6.3
282,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,2019-01-06,11:09:00,Cash,15.34,4.761905,0.7670,6.5
287,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
306,286-01-5402,A,Yangon,Normal,Female,Sports and travel,40.23,7,14.0805,295.6905,2019-03-30,13:22:00,Cash,281.61,4.761905,14.0805,9.6
337,692-27-8933,B,Mandalay,Normal,Female,Sports and travel,57.95,6,17.3850,365.0850,2019-02-24,13:02:00,Cash,347.70,4.761905,17.3850,5.2
357,554-42-2417,C,Naypyitaw,Normal,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
368,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
444,301-11-9629,A,Yangon,Normal,Female,Sports and travel,19.10,7,6.6850,140.3850,2019-01-15,10:43:00,Cash,133.70,4.761905,6.6850,9.7
462,326-71-2155,C,Naypyitaw,Normal,Female,Sports and travel,73.95,4,14.7900,310.5900,2019-02-03,10:02:00,Cash,295.80,4.761905,14.7900,6.1
476,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,2019-03-18,16:10:00,Credit card,166.30,4.761905,8.3150,4.2
503,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,2019-03-25,17:53:00,Cash,186.62,4.761905,9.3310,6.3
548,539-21-7227,B,Mandalay,Normal,Female,Sports and travel,51.54,5,12.8850,270.5850,2019-01-26,17:45:00,Cash,257.70,4.761905,12.8850,4.2
566,718-57-9773,C,Naypyitaw,Normal,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
569,408-26-9866,C,Naypyitaw,Normal,Female,Sports and travel,73.98,7,25.8930,543.7530,2019-03-02,16:42:00,Ewallet,517.86,4.761905,25.8930,4.1
587,695-28-6250,A,Yangon,Normal,Female,Sports and travel,43.06,5,10.7650,226.0650,2019-02-04,16:38:00,Ewallet,215.30,4.761905,10.7650,7.7
597,123-35-4896,C,Naypyitaw,Normal,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
603,642-30-6693,B,Mandalay,Normal,Female,Sports and travel,54.51,6,16.3530,343.4130,2019-03-17,13:54:00,Ewallet,327.06,4.761905,16.3530,7.8
660,322-02-2271,B,Mandalay,Normal,Female,Sports and travel,42.97,3,6.4455,135.3555,2019-02-03,11:46:00,Cash,128.91,4.761905,6.4455,9.3
664,714-02-3114,C,Naypyitaw,Normal,Female,Sports and travel,98.80,2,9.8800,207.4800,2019-02-21,11:39:00,Cash,197.60,4.761905,9.8800,7.7
669,679-22-6530,B,Mandalay,Normal,Female,Sports and travel,40.62,2,4.0620,85.3020,2019-01-17,10:01:00,Credit card,81.24,4.761905,4.0620,4.1
681,320-85-2052,B,Mandalay,Normal,Female,Sports and travel,34.81,1,1.7405,36.5505,2019-01-14,10:11:00,Credit card,34.81,4.761905,1.7405,7.0
781,534-53-3526,A,Yangon,Normal,Female,Sports and travel,94.76,4,18.9520,397.9920,2019-02-11,16:06:00,Ewallet,379.04,4.761905,18.9520,7.8
806,618-34-8551,A,Yangon,Normal,Female,Sports and travel,93.18,2,9.3180,195.6780,2019-01-16,18:41:00,Credit card,186.36,4.761905,9.3180,8.5
847,862-29-5914,C,Naypyitaw,Normal,Female,Sports and travel,22.38,1,1.1190,23.4990,2019-01-30,17:08:00,Credit card,22.38,4.761905,1.1190,8.6
923,887-42-0517,C,Naypyitaw,Normal,Female,Sports and travel,83.14,7,29.0990,611.0790,2019-01-10,10:31:00,Credit card,581.98,4.761905,29.0990,6.6
937,361-85-2571,A,Yangon,Normal,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

In [12]:
# Update "Customer type" for rows where "Total" > 600
df2.loc[df2["Total"] > 300, "Customer type"] = "Elite"
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
85,730-50-9884,C,Naypyitaw,Elite,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
91,225-32-0908,C,Naypyitaw,Elite,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
126,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
129,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
132,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4
154,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
184,586-25-0848,A,Yangon,Normal,Female,Sports and travel,12.34,7,4.3190,90.6990,2019-03-04,11:19:00,Credit card,86.38,4.761905,4.3190,6.7
216,560-30-5617,B,Mandalay,Normal,Female,Sports and travel,24.77,5,6.1925,130.0425,2019-03-24,18:27:00,Cash,123.85,4.761905,6.1925,8.5
235,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.3140,195.5940,2019-01-20,18:09:00,Ewallet,186.28,4.761905,9.3140,4.1
252,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,2019-03-02,19:44:00,Credit card,28.78,4.761905,1.4390,7.2
270,783-09-1637,B,Mandalay,Elite,Female,Sports and travel,67.43,5,16.8575,354.0075,2019-03-06,18:13:00,Ewallet,337.15,4.761905,16.8575,6.3
282,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,2019-01-06,11:09:00,Cash,15.34,4.761905,0.7670,6.5
287,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
306,286-01-5402,A,Yangon,Normal,Female,Sports and travel,40.23,7,14.0805,295.6905,2019-03-30,13:22:00,Cash,281.61,4.761905,14.0805,9.6
337,692-27-8933,B,Mandalay,Elite,Female,Sports and travel,57.95,6,17.3850,365.0850,2019-02-24,13:02:00,Cash,347.70,4.761905,17.3850,5.2
357,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
368,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
444,301-11-9629,A,Yangon,Normal,Female,Sports and travel,19.10,7,6.6850,140.3850,2019-01-15,10:43:00,Cash,133.70,4.761905,6.6850,9.7
462,326-71-2155,C,Naypyitaw,Elite,Female,Sports and travel,73.95,4,14.7900,310.5900,2019-02-03,10:02:00,Cash,295.80,4.761905,14.7900,6.1
476,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,2019-03-18,16:10:00,Credit card,166.30,4.761905,8.3150,4.2
503,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,2019-03-25,17:53:00,Cash,186.62,4.761905,9.3310,6.3
548,539-21-7227,B,Mandalay,Normal,Female,Sports and travel,51.54,5,12.8850,270.5850,2019-01-26,17:45:00,Cash,257.70,4.761905,12.8850,4.2
566,718-57-9773,C,Naypyitaw,Elite,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
569,408-26-9866,C,Naypyitaw,Elite,Female,Sports and travel,73.98,7,25.8930,543.7530,2019-03-02,16:42:00,Ewallet,517.86,4.761905,25.8930,4.1
587,695-28-6250,A,Yangon,Normal,Female,Sports and travel,43.06,5,10.7650,226.0650,2019-02-04,16:38:00,Ewallet,215.30,4.761905,10.7650,7.7
597,123-35-4896,C,Naypyitaw,Elite,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
603,642-30-6693,B,Mandalay,Elite,Female,Sports and travel,54.51,6,16.3530,343.4130,2019-03-17,13:54:00,Ewallet,327.06,4.761905,16.3530,7.8
660,322-02-2271,B,Mandalay,Normal,Female,Sports and travel,42.97,3,6.4455,135.3555,2019-02-03,11:46:00,Cash,128.91,4.761905,6.4455,9.3
664,714-02-3114,C,Naypyitaw,Normal,Female,Sports and travel,98.80,2,9.8800,207.4800,2019-02-21,11:39:00,Cash,197.60,4.761905,9.8800,7.7
669,679-22-6530,B,Mandalay,Normal,Female,Sports and travel,40.62,2,4.0620,85.3020,2019-01-17,10:01:00,Credit card,81.24,4.761905,4.0620,4.1
681,320-85-2052,B,Mandalay,Normal,Female,Sports and travel,34.81,1,1.7405,36.5505,2019-01-14,10:11:00,Credit card,34.81,4.761905,1.7405,7.0
781,534-53-3526,A,Yangon,Elite,Female,Sports and travel,94.76,4,18.9520,397.9920,2019-02-11,16:06:00,Ewallet,379.04,4.761905,18.9520,7.8
806,618-34-8551,A,Yangon,Normal,Female,Sports and travel,93.18,2,9.3180,195.6780,2019-01-16,18:41:00,Credit card,186.36,4.761905,9.3180,8.5
847,862-29-5914,C,Naypyitaw,Normal,Female,Sports and travel,22.38,1,1.1190,23.4990,2019-01-30,17:08:00,Credit card,22.38,4.761905,1.1190,8.6
923,887-42-0517,C,Naypyitaw,Elite,Female,Sports and travel,83.14,7,29.0990,611.0790,2019-01-10,10:31:00,Credit card,581.98,4.761905,29.0990,6.6
937,361-85-2571,A,Yangon,Elite,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
991,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

In [13]:
df2.reset_index(drop= True, inplace= True)
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,730-50-9884,C,Naypyitaw,Elite,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
1,225-32-0908,C,Naypyitaw,Elite,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
2,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
3,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
4,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4
5,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
6,586-25-0848,A,Yangon,Normal,Female,Sports and travel,12.34,7,4.3190,90.6990,2019-03-04,11:19:00,Credit card,86.38,4.761905,4.3190,6.7
7,560-30-5617,B,Mandalay,Normal,Female,Sports and travel,24.77,5,6.1925,130.0425,2019-03-24,18:27:00,Cash,123.85,4.761905,6.1925,8.5
8,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.3140,195.5940,2019-01-20,18:09:00,Ewallet,186.28,4.761905,9.3140,4.1
9,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,2019-03-02,19:44:00,Credit card,28.78,4.761905,1.4390,7.2
10,783-09-1637,B,Mandalay,Elite,Female,Sports and travel,67.43,5,16.8575,354.0075,2019-03-06,18:13:00,Ewallet,337.15,4.761905,16.8575,6.3
11,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,2019-01-06,11:09:00,Cash,15.34,4.761905,0.7670,6.5
12,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
13,286-01-5402,A,Yangon,Normal,Female,Sports and travel,40.23,7,14.0805,295.6905,2019-03-30,13:22:00,Cash,281.61,4.761905,14.0805,9.6
14,692-27-8933,B,Mandalay,Elite,Female,Sports and travel,57.95,6,17.3850,365.0850,2019-02-24,13:02:00,Cash,347.70,4.761905,17.3850,5.2
15,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
16,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
17,301-11-9629,A,Yangon,Normal,Female,Sports and travel,19.10,7,6.6850,140.3850,2019-01-15,10:43:00,Cash,133.70,4.761905,6.6850,9.7
18,326-71-2155,C,Naypyitaw,Elite,Female,Sports and travel,73.95,4,14.7900,310.5900,2019-02-03,10:02:00,Cash,295.80,4.761905,14.7900,6.1
19,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,2019-03-18,16:10:00,Credit card,166.30,4.761905,8.3150,4.2
20,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,2019-03-25,17:53:00,Cash,186.62,4.761905,9.3310,6.3
21,539-21-7227,B,Mandalay,Normal,Female,Sports and travel,51.54,5,12.8850,270.5850,2019-01-26,17:45:00,Cash,257.70,4.761905,12.8850,4.2
22,718-57-9773,C,Naypyitaw,Elite,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
23,408-26-9866,C,Naypyitaw,Elite,Female,Sports and travel,73.98,7,25.8930,543.7530,2019-03-02,16:42:00,Ewallet,517.86,4.761905,25.8930,4.1
24,695-28-6250,A,Yangon,Normal,Female,Sports and travel,43.06,5,10.7650,226.0650,2019-02-04,16:38:00,Ewallet,215.30,4.761905,10.7650,7.7
25,123-35-4896,C,Naypyitaw,Elite,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
26,642-30-6693,B,Mandalay,Elite,Female,Sports and travel,54.51,6,16.3530,343.4130,2019-03-17,13:54:00,Ewallet,327.06,4.761905,16.3530,7.8
27,322-02-2271,B,Mandalay,Normal,Female,Sports and travel,42.97,3,6.4455,135.3555,2019-02-03,11:46:00,Cash,128.91,4.761905,6.4455,9.3
28,714-02-3114,C,Naypyitaw,Normal,Female,Sports and travel,98.80,2,9.8800,207.4800,2019-02-21,11:39:00,Cash,197.60,4.761905,9.8800,7.7
29,679-22-6530,B,Mandalay,Normal,Female,Sports and travel,40.62,2,4.0620,85.3020,2019-01-17,10:01:00,Credit card,81.24,4.761905,4.0620,4.1
30,320-85-2052,B,Mandalay,Normal,Female,Sports and travel,34.81,1,1.7405,36.5505,2019-01-14,10:11:00,Credit card,34.81,4.761905,1.7405,7.0
31,534-53-3526,A,Yangon,Elite,Female,Sports and travel,94.76,4,18.9520,397.9920,2019-02-11,16:06:00,Ewallet,379.04,4.761905,18.9520,7.8
32,618-34-8551,A,Yangon,Normal,Female,Sports and travel,93.18,2,9.3180,195.6780,2019-01-16,18:41:00,Credit card,186.36,4.761905,9.3180,8.5
33,862-29-5914,C,Naypyitaw,Normal,Female,Sports and travel,22.38,1,1.1190,23.4990,2019-01-30,17:08:00,Credit card,22.38,4.761905,1.1190,8.6
34,887-42-0517,C,Naypyitaw,Elite,Female,Sports and travel,83.14,7,29.0990,611.0790,2019-01-10,10:31:00,Credit card,581.98,4.761905,29.0990,6.6
35,361-85-2571,A,Yangon,Elite,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
36,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

In [14]:
df2.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,730-50-9884,C,Naypyitaw,Elite,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
1,225-32-0908,C,Naypyitaw,Elite,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
2,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
3,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
4,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4

## Stripping any unecssary texts in the product line column such as dots or /

In [15]:
df2["Product line"]= df2["Product line"].str.strip("..._/")
df2["Product line"].head(4)

0    Sports and travel
1    Sports and travel
2    Sports and travel
3    Sports and travel
Name: Product line, dtype: object

##Eiminate N/a or N values in the dataframe and leave it blank

In [16]:
#df2 = df2.replace('N/A',',')
#code below will blank any value that has "NaN"
df2 = df2.fillna(',')
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,730-50-9884,C,Naypyitaw,Elite,Female,Sports and travel,83.06,7,29.0710,610.4910,2019-03-05,14:31:00,Ewallet,581.42,4.761905,29.0710,4.0
1,225-32-0908,C,Naypyitaw,Elite,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
2,870-54-3162,A,Yangon,Normal,Female,Sports and travel,32.25,5,8.0625,169.3125,2019-01-27,13:26:00,Cash,161.25,4.761905,8.0625,9.0
3,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
4,695-51-0018,B,Mandalay,Normal,Female,Sports and travel,34.84,4,6.9680,146.3280,2019-02-10,18:36:00,Cash,139.36,4.761905,6.9680,7.4
5,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
6,586-25-0848,A,Yangon,Normal,Female,Sports and travel,12.34,7,4.3190,90.6990,2019-03-04,11:19:00,Credit card,86.38,4.761905,4.3190,6.7
7,560-30-5617,B,Mandalay,Normal,Female,Sports and travel,24.77,5,6.1925,130.0425,2019-03-24,18:27:00,Cash,123.85,4.761905,6.1925,8.5
8,645-78-8093,A,Yangon,Normal,Female,Sports and travel,93.14,2,9.3140,195.5940,2019-01-20,18:09:00,Ewallet,186.28,4.761905,9.3140,4.1
9,883-17-4236,C,Naypyitaw,Normal,Female,Sports and travel,14.39,2,1.4390,30.2190,2019-03-02,19:44:00,Credit card,28.78,4.761905,1.4390,7.2
10,783-09-1637,B,Mandalay,Elite,Female,Sports and travel,67.43,5,16.8575,354.0075,2019-03-06,18:13:00,Ewallet,337.15,4.761905,16.8575,6.3
11,490-29-1201,A,Yangon,Normal,Female,Sports and travel,15.34,1,0.7670,16.1070,2019-01-06,11:09:00,Cash,15.34,4.761905,0.7670,6.5
12,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
13,286-01-5402,A,Yangon,Normal,Female,Sports and travel,40.23,7,14.0805,295.6905,2019-03-30,13:22:00,Cash,281.61,4.761905,14.0805,9.6
14,692-27-8933,B,Mandalay,Elite,Female,Sports and travel,57.95,6,17.3850,365.0850,2019-02-24,13:02:00,Cash,347.70,4.761905,17.3850,5.2
15,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
16,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
17,301-11-9629,A,Yangon,Normal,Female,Sports and travel,19.10,7,6.6850,140.3850,2019-01-15,10:43:00,Cash,133.70,4.761905,6.6850,9.7
18,326-71-2155,C,Naypyitaw,Elite,Female,Sports and travel,73.95,4,14.7900,310.5900,2019-02-03,10:02:00,Cash,295.80,4.761905,14.7900,6.1
19,485-30-8700,A,Yangon,Normal,Female,Sports and travel,33.26,5,8.3150,174.6150,2019-03-18,16:10:00,Credit card,166.30,4.761905,8.3150,4.2
20,282-35-2475,B,Mandalay,Normal,Female,Sports and travel,93.31,2,9.3310,195.9510,2019-03-25,17:53:00,Cash,186.62,4.761905,9.3310,6.3
21,539-21-7227,B,Mandalay,Normal,Female,Sports and travel,51.54,5,12.8850,270.5850,2019-01-26,17:45:00,Cash,257.70,4.761905,12.8850,4.2
22,718-57-9773,C,Naypyitaw,Elite,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
23,408-26-9866,C,Naypyitaw,Elite,Female,Sports and travel,73.98,7,25.8930,543.7530,2019-03-02,16:42:00,Ewallet,517.86,4.761905,25.8930,4.1
24,695-28-6250,A,Yangon,Normal,Female,Sports and travel,43.06,5,10.7650,226.0650,2019-02-04,16:38:00,Ewallet,215.30,4.761905,10.7650,7.7
25,123-35-4896,C,Naypyitaw,Elite,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
26,642-30-6693,B,Mandalay,Elite,Female,Sports and travel,54.51,6,16.3530,343.4130,2019-03-17,13:54:00,Ewallet,327.06,4.761905,16.3530,7.8
27,322-02-2271,B,Mandalay,Normal,Female,Sports and travel,42.97,3,6.4455,135.3555,2019-02-03,11:46:00,Cash,128.91,4.761905,6.4455,9.3
28,714-02-3114,C,Naypyitaw,Normal,Female,Sports and travel,98.80,2,9.8800,207.4800,2019-02-21,11:39:00,Cash,197.60,4.761905,9.8800,7.7
29,679-22-6530,B,Mandalay,Normal,Female,Sports and travel,40.62,2,4.0620,85.3020,2019-01-17,10:01:00,Credit card,81.24,4.761905,4.0620,4.1
30,320-85-2052,B,Mandalay,Normal,Female,Sports and travel,34.81,1,1.7405,36.5505,2019-01-14,10:11:00,Credit card,34.81,4.761905,1.7405,7.0
31,534-53-3526,A,Yangon,Elite,Female,Sports and travel,94.76,4,18.9520,397.9920,2019-02-11,16:06:00,Ewallet,379.04,4.761905,18.9520,7.8
32,618-34-8551,A,Yangon,Normal,Female,Sports and travel,93.18,2,9.3180,195.6780,2019-01-16,18:41:00,Credit card,186.36,4.761905,9.3180,8.5
33,862-29-5914,C,Naypyitaw,Normal,Female,Sports and travel,22.38,1,1.1190,23.4990,2019-01-30,17:08:00,Credit card,22.38,4.761905,1.1190,8.6
34,887-42-0517,C,Naypyitaw,Elite,Female,Sports and travel,83.14,7,29.0990,611.0790,2019-01-10,10:31:00,Credit card,581.98,4.761905,29.0990,6.6
35,361-85-2571,A,Yangon,Elite,Female,Sports and travel,89.48,5,22.3700,469.7700,2019-03-30,10:18:00,Cash,447.40,4.761905,22.3700,7.4
36,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

# #Provide a  list of customers who purchased more than 7 quantities and have a tax higher than 30 dolllars

In [17]:
for x in df2.index:
    if df2.loc[x, "Quantity"] <= 7:
        df2.drop(x , inplace= True)

df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
1,225-32-0908,C,Naypyitaw,Elite,Female,Sports and travel,44.86,10,22.4300,471.0300,2019-01-26,19:54:00,Ewallet,448.60,4.761905,22.4300,8.2
3,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.6260,853.1460,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.6260,7.2
5,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.3880,680.1480,2019-01-28,13:05:00,Cash,647.76,4.761905,32.3880,9.3
12,226-71-3580,C,Naypyitaw,Normal,Female,Sports and travel,23.75,9,10.6875,224.4375,2019-01-31,12:02:00,Cash,213.75,4.761905,10.6875,9.5
15,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.7200,1002.1200,2019-01-09,13:45:00,Cash,954.40,4.761905,47.7200,5.2
16,613-59-9758,C,Naypyitaw,Normal,Female,Sports and travel,14.36,10,7.1800,150.7800,2019-01-27,14:28:00,Cash,143.60,4.761905,7.1800,5.4
22,718-57-9773,C,Naypyitaw,Elite,Female,Sports and travel,49.33,10,24.6650,517.9650,2019-02-03,16:40:00,Credit card,493.30,4.761905,24.6650,9.4
25,123-35-4896,C,Naypyitaw,Elite,Female,Sports and travel,46.66,9,20.9970,440.9370,2019-02-17,19:11:00,Ewallet,419.94,4.761905,20.9970,5.3
36,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.3000,804.3000,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.3000,6.0

In [18]:
for x in df2.index:
    if df2.loc[x,"Tax 5%"] <= 30:
        df2.drop(x , inplace= True)
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
3,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.626,853.146,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.626,7.2
5,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.388,680.148,2019-01-28,13:05:00,Cash,647.76,4.761905,32.388,9.3
15,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.720,1002.120,2019-01-09,13:45:00,Cash,954.40,4.761905,47.720,5.2
36,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.300,804.300,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.300,6.0

In [19]:
#reset the index to make the dataframe look better
df2.reset_index(drop=True, inplace= True)
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.626,853.146,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.626,7.2
1,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.388,680.148,2019-01-28,13:05:00,Cash,647.76,4.761905,32.388,9.3
2,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.720,1002.120,2019-01-09,13:45:00,Cash,954.40,4.761905,47.720,5.2
3,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.300,804.300,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.300,6.0

In [20]:
#List finalized 
df2

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,549-84-7482,B,Mandalay,Elite,Female,Sports and travel,90.28,9,40.626,853.146,2019-02-08,11:15:00,Ewallet,812.52,4.761905,40.626,7.2
1,400-89-4171,C,Naypyitaw,Elite,Female,Sports and travel,80.97,8,32.388,680.148,2019-01-28,13:05:00,Cash,647.76,4.761905,32.388,9.3
2,554-42-2417,C,Naypyitaw,Elite,Female,Sports and travel,95.44,10,47.720,1002.120,2019-01-09,13:45:00,Cash,954.40,4.761905,47.720,5.2
3,602-16-6955,B,Mandalay,Elite,Female,Sports and travel,76.60,10,38.300,804.300,2019-01-24,18:10:00,Ewallet,766.00,4.761905,38.300,6.0